
     <h1> Update Client</h1>
     <form [formGroup]="form" (ngSubmit)="saveUser()">
        <div>
            <label color="light">Client ID:</label>
           <input type="text"
                formControlName="userID"
                  [(ngModel)]="userID"><input>
         </div>
          
             <label color="light">Username:</label>
            <input type="text"
                   placeholder="Enter a username.."
                 formControlName="uName"
                   [(ngModel)]="username"><input>
      
           <div> <label color="light">Password:</label>
             <input type="text"
                    placeholder="Enter a password.."
                    formControlName="pWord"
                    [(ngModel)]="password"><input></div>
         <div>
           <label color="light">Full Name:</label>
            <input type="text"
                   placeholder= "name"
                   formControlName="fName"
                   [(ngModel)]="name"><input>
         </div>
         <div>
           <label color="light">Contact Number:</label>
            <input type="text"
                   placeholder="Enter Contact No.."
                   formControlName="pphone"
                   [(ngModel)]="phone"><input>
         </div>

         <div>  <label color="light">Email Address:</label>
           <input type="text" placeholder="Enter Email Address.."
           formControlName="eMail" [(ngModel)]="email"><input>
         </div>

         <button
         color="primary"
         text-center
         block
         [disabled]="!form.valid">Update</button>

         

