
  
  <h1 class="head text-center"> Update Client</h1>

  <div class="container">
  <div class="jumbotron">
    
       <form [formGroup]="form"  (ngSubmit)="saveUser()">
        
              <label color="light">Client ID:</label>
             <input type="text" class="form-control"
             placeholder="Enter ID" 
                  formControlName="userID"
                    [(ngModel)]="userID">
  
            <br>
               <label color="light">Username:</label>
              <input type="text" class="form-control"
                     placeholder="Enter a username.."
                   formControlName="uName"
                     [(ngModel)]="username">
            <br>
             <label color="light">Password:</label>
               <input type="text"  class="form-control"
                      placeholder="Enter a password.."
                      formControlName="pWord"
                      [(ngModel)]="password">
            <br>
           
             <label color="light">Full Name:</label>
              <input type="text"  class="form-control"
                     placeholder= "Enter Full name.."
                     formControlName="fName"
                     [(ngModel)]="name">
           <br>
          
             <label color="light">Contact Number:</label>
              <input type="text"  class="form-control"
                     placeholder="Enter Contact No.."
                     formControlName="pphone"
                     [(ngModel)]="phone">
          
            <br>
           <label color="light">Email Address:</label>
             <input type="text"  class="form-control"
              placeholder="Enter Email Address.." 
             formControlName="eMail" [(ngModel)]="email">
          <br>
  
           <button
           type="ngSubmit"
           class="btn btn-primary btn-block"
           color="primary"
           text-center
           block
           [disabled]="!form.valid">Update</button>

           </form>
           <button class="btn" (click)="resetFields()">Reset</button>
          
    </div>
  </div>