
     <h1> Update Client</h1>
     <form [formGroup]="form" (ngSubmit)="update()">
           <div>
             <label color="light">Username:</label>
            <input type="text"
                   placeholder="Enter a username.."
                 formControlName="username"
                   [(ngModel)]="uName"><input>
          </div>
           <div> <label color="light">Password:</label>
             <input type="text"
                    placeholder="Enter a password.."
                    formControlName="password"
                    [(ngModel)]="pWord"><input></div>
         <div>
           <label color="light">Full Name:</label>
            <input type="text"
                   placeholder={{item.name}}
                   formControlName="name"
                   [(ngModel)]="fName"><input>
         </div>
         <div>
           <label color="light">Contact Number:</label>
            <input type="text"
                   placeholder="Enter Contact No.."
                   formControlName="phone"
                   [(ngModel)]="pphone"><input>
         </div>

         <div>  <label color="light">Email Address:</label>
           <input type="text" placeholder="Enter Email Address.."
           formControlName="email" [(ngModel)]="eMail"><input>
         </div>

         <button
         color="primary"
         text-center
         block
         [disabled]="!form.valid">Update</button>

         

