.invention {
    padding: 10px;
    background: #ddbebe;
    color: #000000;
    text-decoration-style: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn {
   
    padding: 10px;
    margin: 5px;
}

div.label{
    justify-content: center;
	align-items: center;
}

