<header style = "text-align: right;">
  <input type="button" value="Sign Out" [routerLink]="['/']" class="Homebtn">
</header>


<div class="container">
  <div class="jumbotron">




<button type="button" [routerLink]="['../clients']" class="btn btn-primary" style="margin-left:auto">Update Clients </button>

<br> <p> 


  
</p>
<button [routerLink]="['../appointments']" class="btn btn-primary">View Appointments </button>
<br>
<p>


</p>
<button type="button" [routerLink]="['../app-availability']" class="btn btn-primary" style="margin-right:auto">Add Availability</button>
<br>
<p>



</p>
</div>
</div>

<p>
  You are Authenticated!!
  <a routerLink="/">Go Back</a>
</p>
