<header style = "text-align: right;">
  <input type="button" value="Sign Out" [routerLink]="['/']" class="Homebtn">
</header>


<div class="container">
  <div class="jumbotron">




<input type="button" value="View Clients" [routerLink]="['../clients']" class="Clientbtn" style="margin-left:auto">

<br> <p> 


  
</p>
<button [routerLink]="['../appointments']" class="btn btn-primary">View Appointments </button>
<br>
<p>


</p>
<input type="button" value="Add Availabiliy" [routerLink]="['../app-availability']" class="Availbtn" style="margin-right:auto">
<br>
<p>



</p>
</div>
</div>

<p>
  You are Authenticated!!
  <a routerLink="/">Go Back</a>
</p>
