<header style = "text-align: right;">
  <input type="button" value="Sign Out" [routerLink]="['/']" class="Homebtn">
</header>


<input type="button" value="View Clients" [routerLink]="['../clients']" class="Clientbtn" style="margin-left:auto">

<br> <br> <p> 


  
</p>
<input type="button" value="View Appointments" [routerLink]="['../appointments']" class="btn" style="margin-right:auto">


<input type="button" value="View Availability" [routerLink]="['../app-avail']" class="btn" style="margin-right:auto">

<input type="button" value="Add Availabiliy" [routerLink]="['../app-availability']" class="btn" style="margin-right:auto">


<p>
  You are Authenticated!!
  <a routerLink="/">Go Back</a>
</p>
