<div class="jumbotron">

		<h2>User</h2>
<form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)" >
	<div class="input" class="form-group" [ngClass]="{'error-border':!authForm.controls.username.valid && authForm.controls.username.touched}">
		<label>Username</label>
		<input formControlName="username" type="text" class="form-control" >
	</div>
	<div class="input" class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" >
	</div>
	<div>
	<button
	color="primary"  class="btn btn-primary btn-block"
	text-center
	block
	[disabled]="!authForm.valid">Sign In</button>

	<input type="button" value="Register" [routerLink]="['../register']" class="btn btn-warning btn-block">
  </div>
  <a routerLink="../loginform">Admin</a>
</form>

</div>


