<div class="container ">
	<div class="col-md-6 col-md-offset-4">
<div class="jumbotron vertical-center" >
<a routerLink="../userlogin">User</a>



<form (submit)="loginUser($event)">
		<h2>Admin</h2>
	<div class="input" class="form-group" >
		<label>Username</label>
		<input type="text" class="form-control" name="uName">
	</div>
	<div class="input" class="form-group" >
		<label>Password</label>
		<input type="password" class="form-control" name="pWord">
	</div>
	<br>
	<div class="input" class="form-group" >
		<input type="submit" value="Login" class="btn btn-primary btn-block" >
		<button type="button" class="btn btn-warning btn-block">Cancel</button>
	</div>

	


	<div class="container" style="background-color:f1f1f1">
	
		<span class="psw">Forgot <a href="#">password?</a></span>
		
	</div>
	<div class="container" style="background-color:f1f1f1">
			<label>
					<input type="checkbox" checked="checked" name="remember"> Remember Me
				</label>
	</div>
</form>
</div>
</div>
</div>