<header style = "text-align: right;">
  <input type="button" value="Sign Out" [routerLink]="['/userlogin']" class="Homebtn">
</header>

<div class="container">
   <div class="jumbotron">
<button type="button"  class="btn btn-primary" [routerLink]="['../app-new-app']">Make Appointment</button>

<br> <br> <p> 


  
</p>
<button type="button" class="btn btn-primary" [routerLink]="['../appointments']">View Appointments Details</button>

   </div>
</div>


<p>
  You are Authenticated!!
  <a routerLink="/userlogin">Go Back</a>
</p>
