
<header style = "text-align: right;">
  <a href="/" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-user"></span> Sign Out
    </a></header>

<div class="container">
   <div class="jumbotron">
<button type="button"  class="btn btn-primary" [routerLink]="['../app-new-app']">Make Appointment</button>

<br> <br> <p> 


  
</p>
<button type="button" class="btn btn-primary" [routerLink]="['../appointments']">View Appointments Details</button>

   </div>
</div>


<p>
  You are Authenticated!!
  <a routerLink="/">Go Back</a>
</p>
