<div class="container">
  <div class="jumbotron">
      <h2>GDPR Terms & Conditions Policy</h2>
      <div><a>
      EMUA takes our Privacy policy very seriously and will only use your information to administer your account and to provide the services you have requested from us.</a>
        </div>
      <div><a>Information We Collect.
      </a></div>
     <div> <a>
      (a) Our Service: We may collect personally identifiable information about you, such as your full name, phone number, email address, or similar, when you register for an account.</a></div> 
      <div><a> (b) Log File Information: Log file information is automatically reported by your browser or mobile application each time you access our Site For example, when you access our Sites, our servers automatically record certain information that your web browser sends whenever you visit any website. These server logs may include information such as your operating system, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed and other such information. We do not link this automatically-collected data to personally identifiable information.</a></div>
      <div><a>Thankyou for visiting EMUA.
        </a></div>

      <div> <input type="button" value="Accept" [routerLink]="['../register']" class="btn btn-info">
      </div>
  </div>
  </div>