<a routerLink = "/app-user-dashboard">Back</a>

<h2 class="header text-center">
  Add Availability
</h2>
<div class="container">
<div class="jumbotron">




    <form [formGroup]="form" (ngSubmit)="saveAvail()">


        <label color="light"> Update Date Availability:</label>
        <input type="date" name="Appointment_Date" class="form-control"
               placeholder="Update Date Availability"
             formControlName="Appointment_Date"
               [(ngModel)]="appointmentDate">
               <br>

               <label color="light"> Update Time Availability:</label>
               <input type="text" name="Appointment_Time" class="form-control"
                      placeholder="Update Time Availability"
                    formControlName="Appointment_Time"
                      [(ngModel)]="appointmentTime">


   <button (click)="ngSubmit"
    color="primary"
    class="btn btn-primary btn-block"
    text-center
    block >Update Date</button>

              
        

    </form>
</div>
</div>
